In [1]:
import os
import pandas as pd
import geopandas as gpd
import json
from shapely.geometry import Polygon, Point
pd.set_option('display.max_columns', None)
os.listdir('./data/')

['Vehicles0515.csv',
 'contextCSVs',
 '.DS_Store',
 'Accidents0515.csv',
 'tidydata.sh',
 'Casualties0515.csv',
 'london_poly.json']

In [2]:
accidents = pd.read_csv('./data/Accidents0515.csv')
accidents = accidents.dropna()
js_line = open('./data/london_poly.json').read()
london_gdf = gpd.read_file(json.loads(js_line))
london_poly = london_gdf['geometry'][0]

In [3]:
accidents[['Date', 'Day_of_Week', 'Time']]

               Date  Day_of_Week   Time
0        04/01/2005            3  17:42
1        05/01/2005            4  17:36
2        06/01/2005            5  00:15
3        07/01/2005            6  10:35
4        10/01/2005            2  21:13
...             ...          ...    ...
1772184  31/10/2015            7  15:33
1772185  21/12/2015            2  15:00
1772186  04/11/2015            4  18:05
1772187  10/12/2015            5  08:45
1772188  08/12/2015            3  18:10

[1651142 rows x 3 columns]

In [4]:
accidents.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,17:42,12,E09000020,3,3218,6,30,0,-1,-1,0,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,17:36,12,E09000020,4,450,3,30,6,2,5,0,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,00:15,12,E09000020,5,0,6,30,0,-1,-1,0,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,10:35,12,E09000020,3,3220,6,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,21:13,12,E09000020,6,0,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01002863

In [5]:
accidents['datetime'] = pd.to_datetime(accidents['Date'] + '/' + accidents['Time'])

In [6]:
accidents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1651142 entries, 0 to 1772188
Data columns (total 33 columns):
 #   Column                                       Non-Null Count    Dtype
---  ------                                       --------------    -----
 0   Accident_Index                               1651142 non-null  object
 1   Location_Easting_OSGR                        1651142 non-null  float64
 2   Location_Northing_OSGR                       1651142 non-null  float64
 3   Longitude                                    1651142 non-null  float64
 4   Latitude                                     1651142 non-null  float64
 5   Police_Force                                 1651142 non-null  int64
 6   Accident_Severity                            1651142 non-null  int64
 7   Number_of_Vehicles                           1651142 non-null  int64
 8   Number_of_Casualties                         1651142 non-null  int64
 9   Date                                         1651142 non-null  object
 10  Day_of_Week                                  1651142 non-null  int64
 11  Time                                         1651142 non-null  object
 12  Local_Authority_(District)                   1651142 non-null  int64
 13  Local_Authority_(Highway)                    1651142 non-null  object
 14  1st_Road_Class                               1651142 non-null  int64
 15  1st_Road_Number                              1651142 non-null  int64
 16  Road_Type                                    1651142 non-null  int64
 17  Speed_limit                                  1651142 non-null  int64
 18  Junction_Detail                              1651142 non-null  int64
 19  Junction_Control                             1651142 non-null  int64
 20  2nd_Road_Class                               1651142 non-null  int64
 21  2nd_Road_Number                              1651142 non-null  int64
 22  Pedestrian_Crossing-Human_Control            1651142 non-null  int64
 23  Pedestrian_Crossing-Physical_Facilities      1651142 non-null  int64
 24  Light_Conditions                             1651142 non-null  int64
 25  Weather_Conditions                           1651142 non-null  int64
 26  Road_Surface_Conditions                      1651142 non-null  int64
 27  Special_Conditions_at_Site                   1651142 non-null  int64
 28  Carriageway_Hazards                          1651142 non-null  int64
 29  Urban_or_Rural_Area                          1651142 non-null  int64
 30  Did_Police_Officer_Attend_Scene_of_Accident  1651142 non-null  int64
 31  LSOA_of_Accident_Location                    1651142 non-null  object
 32  datetime                                     1651142 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(4), int64(23), object(5)
memory usage: 428.3+ MB

In [7]:
accidents.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,datetime
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,17:42,12,E09000020,3,3218,6,30,0,-1,-1,0,0,1,1,2,2,0,0,1,1,E01002849,2005-04-01 17:42:00
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,17:36,12,E09000020,4,450,3,30,6,2,5,0,0,5,4,1,1,0,0,1,1,E01002909,2005-05-01 17:36:00
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,00:15,12,E09000020,5,0,6,30,0,-1,-1,0,0,0,4,1,1,0,0,1,1,E01002857,2005-06-01 00:15:00
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,10:35,12,E09000020,3,3220,6,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,E01002840,2005-07-01 10:35:00
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,21:13,12,E09000020,6,0,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01002863,2005-10-01 21:13:00

In [8]:
london_gdf

  id                                           geometry
0  0  POLYGON ((-0.51038 51.46809, -0.51036 51.46795...

In [10]:
accidents['geom'] = accidents.apply(lambda x: Point(x['Longitude'], x['Latitude']), axis=1)

In [21]:
accidents = accidents[accidents['geom'].intersects(london_poly)]

AttributeError: 'Series' object has no attribute 'intersects'

In [22]:
accidents['in_london'] = accidents['geom'].apply(lambda x: x.intersects(london_poly))

In [23]:
accidents[accidents['in_london']].shape

(268113, 35)

In [25]:
accidents.head()

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,datetime,geom,in_london
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,17:42,12,E09000020,3,3218,6,30,0,-1,-1,0,0,1,1,2,2,0,0,1,1,E01002849,2005-04-01 17:42:00,POINT (-0.19117 51.489096),True
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,17:36,12,E09000020,4,450,3,30,6,2,5,0,0,5,4,1,1,0,0,1,1,E01002909,2005-05-01 17:36:00,POINT (-0.211708 51.520075),True
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,00:15,12,E09000020,5,0,6,30,0,-1,-1,0,0,0,4,1,1,0,0,1,1,E01002857,2005-06-01 00:15:00,POINT (-0.206458 51.525301),True
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,10:35,12,E09000020,3,3220,6,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,E01002840,2005-07-01 10:35:00,POINT (-0.173862 51.482442),True
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,21:13,12,E09000020,6,0,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01002863,2005-10-01 21:13:00,POINT (-0.156618 51.495752),True

In [26]:
columns_to_drop = ['Date', 'Time', 'Longitude', 'Latitude']

In [27]:
accidents = accidents.drop(columns=columns_to_drop)

In [28]:
accidents_filtered = accidents[accidents['in_london']].drop(columns=['in_london'])

In [33]:
accidents_filtered.to_pickle('./data/preprocessed/accidents_in_london.pkl')