In [81]:
import pandas as pd
from sklearn.ensemble import IsolationForest
import pickle
import datetime
from collections import namedtuple

In [19]:
pd.set_option("display.max_columns", None)

In [84]:
points_isolation = points.drop(columns=['Location_Easting_OSGR', 'Location_Northing_OSGR', 
                                      'Local_Authority_(District)',
       'outliers_score', 'geom', 'road_id', 
                                      'Urban_or_Rural_Area',
                                      'Carriageway_Hazards',
                                      'Special_Conditions_at_Site',
                                     ])

In [85]:
points_with_dates = pd.read_pickle('./data/preprocessed/accidents_in_london.pkl')

In [87]:
points_unique = pd.read_pickle('./data/preprocessed/points_dropped.pkl')

In [88]:
points_isolation['datetime'] = points_with_dates['datetime']

In [82]:
template = namedtuple('tempate', ['Day_of_Week', 'Weather_Conditions', 'Road_Surface_Conditions', 'month', 'hour'])

In [103]:
def fill_template(some_date, df):
    filled_template = template(
        Road_Surface_Conditions=df[df['datetime'] == some_date]['Road_Surface_Conditions'].median(),
        Weather_Conditions=df[df['datetime'] == some_date]['Weather_Conditions'].median(),
        Day_of_Week=some_date.weekday(),
        month=some_date.month,
        hour=some_date.hour
    )
    return filled_template

In [78]:
test_date = datetime.datetime(year=2006, month=12, day=20, hour=10)

In [91]:
points_isolation['datetime'] = points_isolation['datetime'].apply(lambda x: x.replace(minute=0, second=0))

In [102]:
filled_template

tempate(Day_of_Week=2, Weather_Conditions=1.0, Road_Surface_Conditions=1.0, month=12, hour=10)

In [105]:
def add_conditions_to_points(df, tuple_data):
    df['Day_of_Week'] = tuple_data.Day_of_Week
    df['Weather_Conditions'] = tuple_data.Weather_Conditions
    df['Road_Surface_Conditions'] = tuple_data.Road_Surface_Conditions
    df['month'] = tuple_data.month
    df['hour'] = tuple_data.hour
    return df

In [106]:
test_df = add_conditions_to_points(points_unique, fill_template(test_date, points_isolation))

In [109]:
scores = forest.decision_function(test_df)

In [110]:
scores

array([-0.03490148, -0.03747757, -0.02289696, ..., -0.02590597,
       -0.03776902, -0.04225266])

In [ ]:
def generate_scores_for_day(some_day):
    for hour in range(24):
        date = some_day.replace(hour=hour)
        test_df = add_conditions_to_points(points_unique, fill_template(some_day, points_isolation))

In [62]:
points_dropped.drop_duplicates(subset=['Longitude', 'Latitude'], inplace=True)

In [59]:
points_dropped['Speed_limit'].value_counts(normalize=True)

30    0.932174
40    0.029169
50    0.023060
70    0.008043
20    0.006344
60    0.001192
10    0.000011
15    0.000007
Name: Speed_limit, dtype: float64

In [38]:
points_dropped[['Longitude', 'Latitude']].drop_duplicates()

         Longitude   Latitude
0        -0.191170  51.489096
1        -0.211708  51.520075
2        -0.206458  51.525301
3        -0.173862  51.482442
4        -0.156618  51.495752
...            ...        ...
1755608  -0.078723  51.515778
1755610  -0.091063  51.513641
1755611  -0.080030  51.515530
1755612  -0.077673  51.513333
1755613  -0.097002  51.516382

[184604 rows x 2 columns]

In [20]:
points

,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Day_of_Week,Local_Authority_(District),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,month,hour,outliers_score,geom,road_id
0,525680.0,178240.0,-0.191170,51.489096,3,12,3,3218,6,30,0,-1,-1,0,0,1,1,2,2,0,0,1,1,17,0.016375,POINT (-0.19117 51.489096),126439.0
1,524170.0,181650.0,-0.211708,51.520075,4,12,4,450,3,30,6,2,5,0,0,5,4,1,1,0,0,1,1,17,0.057097,POINT (-0.211708 51.520075),127891.0
2,524520.0,182240.0,-0.206458,51.525301,5,12,5,0,6,30,0,-1,-1,0,0,0,4,1,1,0,0,1,1,0,0.050657,POINT (-0.206458 51.525301),127642.0
3,526900.0,177530.0,-0.173862,51.482442,6,12,3,3220,6,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,10,0.062858,POINT (-0.173862 51.482442),120890.0
4,528060.0,179040.0,-0.156618,51.495752,2,12,6,0,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,21,0.026923,POINT (-0.156618 51.495752),118150.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1755609,533060.0,180930.0,-0.083941,51.511637,3,570,5,0,6,20,3,4,5,0,0,0,1,1,1,0,0,1,12,16,0.047493,POINT (-0.083941 51.511637),76746.0
1755610,532560.0,181140.0,-0.091063,51.513641,5,570,5,0,6,20,3,4,5,0,0,8,1,1,1,0,0,1,12,8,-0.014681,POINT (-0.09106300000000001 51.513641),79014.0
1755611,533320.0,181370.0,-0.080030,51.515530,5,570,3,1211,6,20,3,2,5,0,0,4,1,1,1,0,0,1,12,13,0.017692,POINT (-0.08002999999999999 51.51553),76652.0
1755612,533490.0,181130.0,-0.077673,51.513333,4,570,5,0,2,20,3,2,5,0,0,5,4,2,2,0,0,1,12,0,-0.059067,POINT (-0.07767300000000001 51.513333),76393.0
1755613,532140.0,181434.0,-0.097002,51.516382,7,570,6,0,2,20,3,4,6,0,0,4,4,1,1,0,0,1,12,0,-0.058472,POINT (-0.097002 51.516382),79578.0